body {

    font-family: "Lucida Console", Courier, monospace;

}

/* main  */

.heading {
    text-align: center;
}

table {
    margin-right: auto;
    margin-left: auto;
    padding: 2px;
}

.heading, footer {
    color: indigo;
    margin: 50px;
}

th {
    color: rgb(142, 63, 146);
    background-color:aquamarine;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

td {
    color: rgb(233, 64, 140);
    padding: 10px;
}

.FirstCol {
    background-color: blanchedalmond;
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
}


